body {
    background-color: rgb(251, 238, 222) !important;
    overflow: auto;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    overflow-x: hidden;
    display: block;
}

a:link {
    color: black; /* This changes the default hyperlink color from blue to back*/
}

#leftside {
    position: fixed;
    background-color: #6ca0dfb0;
    width: 120px;
    height: 100vh;
}

.btn {
    text-align: left;
    line-height: 35px;
    position: absolute;
    left: 20px;
    border-radius: 5%;
    width: 100px;
    height: 35px;
    font-size: 130%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: white;
    cursor: pointer;
}

#home-btn {
    top: 280px;
}

#blog-btn {
    top: 360px;
}

#about-btn {
    top: 440px;
}

#logo {
    position: absolute;
    height: 120px;
    width: 120px;
    left: 3px;
    top: -26px;
}

#MFF30 {
    height: 240px;
    width: 700px;
    overflow: hidden;
}

#MFF30 img {
    /*reference: https://www.corelangs.com/css/box/zoom.html*/
    transition-property: scale, filter;
    transition-duration: .5s;
    transition-timing-function: ease;
    /*Safari and Chrome*/
}

#MFF30:hover img {
    scale: 1.5;
    filter: brightness(45%);
    cursor: pointer;
}

#mask {
    position: absolute;
    left: 190px;
    top: 540px;
    font-size: 50px;
    color: aliceblue;
    visibility: hidden;
    -webkit-transition: visibility, 1s, ease;

}

#MFF30:hover p {
    visibility: visible;
}

div.content {
    position: absolute;
    left: 550px;
    top: 20px;
    margin-bottom: 0px;
    margin-right: 40px;
    max-height: 95vh;
    width: 740px;
    line-height: 1.5;
    font-size: larger;
    font-family: Georgia, serif;

    overflow-x: hidden;
    overflow-y: auto;
}

#home {
    visibility: visible;
}

#home::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#umbrella {
    height: 50px;
    width: 50px;

    position: sticky;
    left: 400px;
    top: 0px;
}

#blogs {
    visibility: hidden;
}

#blogs::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#about {
    visibility: hidden;
}

#about::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.slider {
    width: 100%;
    height: 300px;
    position: relative;
}

.slide {
    width: 100%;
    height: 300px;
    position: absolute;
    transition-property: transform;
    transition-duration: .5s;
    border-radius: 15px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select {
    background-image: url(melon.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color:transparent;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    z-index: 10px;
    cursor: pointer;
}

.select:active {
    transform: scale(1.1);
}

#prev {
    transform: rotate(-110deg);
}

#next {
    transform: rotate(80deg);
}

#prev {
    top: 45%;
    left: 2%;
}

#next {
    top: 45%;
    right: 2%;
}