

body {
    align-items: center;
    margin:0 auto;
    background-color: white;
    overflow-x: hidden;
}




#leftside {
    position: fixed;
    background-color:#8DDFCB;
    width: 400px;
    height: 100vh;
}

.btn {
    text-align: center ;
    line-height: 35px;
    position: absolute;
    left: 220px;
    background-color: #9bdecd;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 5%;
    width: 100px;
    height: 35px;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.5s;
}

.btn:hover{
    background-color: white;
}

#home-btn {
    top: 280px;
}

#blog-btn {
    top: 340px;
}

#about-btn {
    top: 400px;
}

#logo {
    position: absolute;
    left: 50px;
    top: 70px;
}

#main-content {
    position: absolute; 
    top: 0px; 
    left:0px;
    bottom:0px;
    right:0px;
    margin-left: 600px;
    margin-top: 20px;
    margin-right: 100px;
    width: 600px;
    padding: 20px;

    font-family: Georgia, serif;
}